<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket Tateti - Juego</title>

    <%- include('../parts/estilos') %>
    <link rel="stylesheet" href="/app/gameplay/index.css">
</head>

<body data-bs-theme="dark">
    <%- include('../parts/header') %>
    
    <div class="container">

        <div class="gameplay row align-items-center">
            <div class="col-12 col-lg-3 my-3">
                <div class="text-center">
                    <div class="display-2">
                        <i class="bi-x-lg"></i>
                    </div>
                    <span class="player-label">
                        <% if (username == game.playerX) { %>
                            Tú: 
                        <% } else if (username == game.playerO) { %>
                            Oponente: 
                        <% } %>
                        <span id="playerX"><%= game.playerX %></span>
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-6 my-3">
                <div class="d-flex justify-content-center">
                    <%- include('./board') %>
                </div>
            </div>
            <div class="col-12 col-lg-3 my-3">
                <div class="text-center">
                    <div class="display-2">
                        <i class="bi-circle"></i>
                    </div>
                    <span class="player-label">
                        <% if (username == game.playerO) { %>
                            Tú: 
                        <% } else if (username == game.playerX) { %>
                            Oponente: 
                        <% } %>
                        <span id="playerO"><%= game.playerO %></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <%- include('../parts/scripts') %>
    <script src="/app/gameplay/index.js"></script>
</body>

</html>