<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Socket Tateti - Juego</title>

    <%- include('../parts/estilos') %>
    <link rel="stylesheet" href="/app/gameplay/index.css">
</head>

<body data-bs-theme="dark">
    <%- include('../parts/header') %>
    
    <div class="container">

        <div class="gameplay mt-4">

            <p class="mb-0 text-center">
                jugador o: <span id="playerO"> <%= game.playerO %> </span>
                <% if (username == game.playerO) { %>
                    (tú)
                <% } %>
            </p>
            <div class="d-flex justify-content-center">
                <%- include('./board') %>
            </div>
            <p class="mb-0 text-center">
                jugador x: <span id="playerX"> <%= game.playerX %> </span>
                <% if (username == game.playerX) { %>
                    (tú)
                <% } %>
            </p>

        </div>
    </div>

    <%- include('../parts/scripts') %>
    <script src="/app/gameplay/index.js"></script>
</body>

</html>